@font-face {
    font-family: 'gloria_hallelujahregular';
    src: font_url('gloriahallelujah-webfont.woff2') format('woff2'),
         font_url('gloriahallelujah-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}